[importlinter]
root_package = mcp_code_checker
root_package_paths = src

[importlinter:contract:layers]
name = Layered Architecture
type = layers
layers =
    mcp_code_checker.main
    mcp_code_checker.server
    mcp_code_checker.code_checker_pytest
    mcp_code_checker.code_checker_pylint  
    mcp_code_checker.code_checker_mypy
    mcp_code_checker.utils
    mcp_code_checker.log_utils

[importlinter:contract:forbidden-imports]
name = Forbidden external imports
type = forbidden
source_modules =
    mcp_code_checker.utils
forbidden_modules =
    mcp_code_checker.code_checker_pytest
    mcp_code_checker.code_checker_pylint
    mcp_code_checker.code_checker_mypy
    mcp_code_checker.server